
.chat
  .chat-side
    .chat-user
      %h5= current_user.name
      .chat-user__actions
        %a.chat-user__action
        = link_to new_group_path, class: "chat-user__action" do
          %i.fa.fa-pencil-square-o
        = link_to edit_user_registration_path(@users), class: "chat-user__action" do
          %i.fa.fa-cog

    %ul.chat-groups
      %li.chat-group
        %a.chat-group__link
          %p.chat-group__name test
          %p.chat-group__message test
      %li.chat-group
        %a.chat-group__link
          %p.chat-group__name test1
          %p.chat-group__message まだメッセージはありません。
      %li.chat-group
        %a.chat-group__link
          %p.chat-group__name test2
          %p.chat-group__message まだメッセージはありません。
      %li.chat-group
        %a.chat-group__link
          %p.chat-group__name test3
          %p.chat-group__message まだメッセージはありません。
      %li.chat-group
        %a.chat-group__link
          %p.chat-group__name test4
          %p.chat-group__message まだメッセージはありません。
      %li.chat-group
        %a.chat-group__link
          %p.chat-group__name test5
          %p.chat-group__message まだメッセージはありません。
      %li.chat-group
        %a.chat-group__link
          %p.chat-group__name test6
          %p.chat-group__message まだメッセージはありません。
      %li.chat-group
        %a.chat-group__link
          %p.chat-group__name test7
          %p.chat-group__message まだメッセージはありません。
