.flash-message-notice{
  height: 30px;
  line-height: 30px;
  color: white;
  text-align: center;
  background-color: #38aef0;
}

.flash-message-alert{
  height: 30px;
  line-height: 30px;
  color: white;
  text-align: center;
  background-color: #d65f4c;
}
