$sky-blue: #38aef0;
@import "clearfix";

html,body{
  height: 100%;
  background-color: #fafafa;
}

.notification{
  background-color: $sky-blue;
  color: #fff;
  text-align: center;
}

.chat{
  min-width: 980px;
  height: 100%;

  &-side {
    float: left;
    height: 100%;
    width: 300px;
   }

    &-user {
      @include clearfix();
      padding: 20px;
      color: #fff;
      background-color: #253141;

      h5 {
        float: left;
        line-height: 60px;
        letter-spacing: 2px;
        font-size: 16px;
      }

      &__actions {
        float: right;
      }

        &__action {
          display: inline-block;
          margin: 15px 0 15px 3px;
          line-height: 28px;
          color: #fff;
          font-size: 20px;
        }

        &__action {
          display: inline-block;
          margin: 15px 0 15px 3px;
          line-height: 28px;
          color: #fff;
          font-size: 20px;
         }
    }

    &-groups{
      height: calc(100% - 100px);
      color: #FFFFFF;
      list-style: none;
      background-color: #2f3e51;
      overflow-y: scroll;
    }

      &-group{
        display: block;
        padding: 20px 20px;
        color: #ffffff;

        &__name{
          display: inline-block;
          font-size: 15px;
          margin-bottom: 5px;
        }
        &__message{
          font-size: 11px;
        }
  }

  &-main{
    float: left;
    position: relative;
    width: calc(100% - 300px);
    height: 100%;

    &-header {
        @include clearfix();
        padding-right: 40px;
        padding-left: 40px;
        background-color: #fff;
        border-bottom: 1px solid #eee;

        &--left {
          float: left;

          h2 {
            margin-top: 20px;
            line-height: 50px;
            letter-spacing: 2px;
            color: #333;
            font-size: 20px;
          }

          &__users {
            line-height: 20px;
            color: #999;
            font-size: 12px;
          }

            &__user {
              margin-left: 3px;
            }
        }

        &--right {
          float: right;

          &__edit-btn {
            display: inline-block;
            margin: 28px 0;
            padding-right: 20px;
            padding-left: 20px;
            line-height: 40px;
            color: $sky-blue;
            font-size: 14px;
            border: 2px solid;
            text-decoration: none;
          }
        }
      }

    &-body{
      position: relative;
      padding: 30px 0;
      height: calc(100% - 250px);
      overflow-y: scroll;
    }

      &-messages{
        position: absolute;
        right: 40px;
        left: 40px;
        padding: 0;
        list-style: none;
      }

        &-message{
          margin-bottom: 40px;

          &__header{
            @include clearfix();
            line-height: 20px;

            &__name{
              float: left;
              margin-bottom: 10px;
              font-weight: bold;
              font-size: 16px;
              color: #434A54;
            }
            &__time{
              float: left;
              margin-left: 10px;
              color: #aaaaaa;
              font-size: 12px;
            }
          }
          &__body{
            font-size: 14px;
            color: #434A54;

            img{
              max-width: 300px;
              max-height: 300px;
            }
        }
    }

    &-footer{
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 20px 40px;
      background-color: #dddddd;

      input[type='submit']{
        float: left;
        display: inline-block;
        width: 100px;
        margin-left: 15px;
        line-height: 50px;
        color: #ffffff;
        background-color: $sky-blue;
        text-align: center;
        border: none;
        padding: 0
      }

      &__body {
          float: left;
          width: calc(100% - 115px);
          height: 50px;
          position: relative;

          textarea {
            width: 100%;
            padding: 10px 0 0 10px;
            line-height: 20px;
            border: none;
            resize: none;
            display: block;
          }

          &__file {
            position: absolute;
            top: 0;
            right: 0;
            display: inline-block;
            width: 40px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            cursor: pointer;

          input{
            display: none;
          }
        }
      }
    }
  }
}
